.searchWrapper {
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--gray_200);
    background-color: var(--black_300);
    flex: 1;
    align-items: center;
    width: 189px;
    height: 40px;
    top: 115px;
    left: 16px;
  }
  
  .searchInput{
    border: none;
    flex: 1;
    background-color: inherit;
    color: var(--gray_100);
    width: 116px;
    font-size: 13px;
  }
  
  .searchInput::placeholder {
    color: var(--gray_100);
    font-size: 13px;
    font-weight: 400;
    line-height: 15.51px;
  }
  
  .searchInput:focus{
    outline:none;
  }
  
  .delete{
    background-color: var(--gray_200);
    width: 16px;
    height: 16px;
    border-radius: 20px;
  }
  
  @media (min-width: 768px) {
    .searchWrapper {
      width: 269px;
      height: 48px;
    }
    .searchInput::placeholder{
      font-size: 14px;
    }
  }
  
  @media (min-width: 1280px){
    .searchWrapper{
      width: 448px;
      height: 48px;
    }
  }