.title {
  display: block;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
}

.setPos {
  display: flex;
  justify-content: space-between;
  width: 355px;
  gap: 16px;
}

#allStartupListPage {
  width: 375px;
}

.pageList {
  width: 100%;
  max-height: 640px;
  color: var(--gray_100);
  margin-top: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media (min-width: 768px) {
  #allStartupListPage {
    width: 700px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .setPos {
    width: 449px;
  }
}

@media (min-width: 1280px) {
  h2 {
    font-weight: 700;
    font-size: 20px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  #allStartupListPage {
    width: 1200px;
  }

  .setPos {
    width: 600px;
    display: flex;
    justify-content: space-around;
  }
}
