#compareStatusPage {
  width: 375px;
}

.compareTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}

@media (min-width: 768px) {
  #compareStatusPage {
    width: 700px;
  }
}

@media (min-width: 1280px) {
  #compareStatusPage {
    width: 1200px;
  }
}
