.pageListItemPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basicText {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color:var(--gray_100);
}

.pageListItem {
  height: 64px;
  width: 1200px;
  display: flex;
  background-color: var(--black_300);
  border-bottom: 1px solid var(--gray_300);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0.75rem rgba(138, 137, 137, 0.63);
  }

  ;

  &:active {
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0);
  }
}

.pageListItemLank {
  height: 100%;
  width: 68px;
}

.pageListItemName {
  width: 213px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.pageListItemName img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 50%;
}

.pageListItemDescription {
  width: 304px;
  padding: 15px 16px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
}

.pageListItemDescription .basicText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 3em;
  white-space: normal;
}


.pageListItemCategory {
  width: 153.75px;
}

.pageListItemTotalInvestment {
  width: 153.75px;
}

.AllStartupPageListItemRevenueTotal {
  width: 153.75px;
}

.pageListItemStaffTotal {
  width: 153.75px;
}

@media (max-width:768px){
  .pageListItem{
    width: 696px;
  }
}