table{
    min-width: 696px;
    max-width: 1200px;
    height: 39px;
    width: 100%;
    top: 164px;
    left: 360px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background-color: #2e2e2e;
  }

  .startupRank{
    width: 68px;
  }

  .startupName{
    width: 213px;
  }

  .startupIntro{
    width: 304px;
  }

  .startupCategory{
    width: 153.75px;
  }

  .startupAmount{
    width: 230.62px;
  }

  .startupTotalInvest{
    width: 230.62px;
  }
  