.modalSearchWrapper {
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--gray_200);
  background-color: var(--black_400);
  flex: 1;
  align-items: center;
  /* width: 188px; */
  width: 93%;
  height: 48px;
  top: 115px;
  left: 16px;
  padding: 0px 12px;
  &:hover {
    box-shadow: 0 0 0.75rem rgba(138, 137, 137, 0.63);
  }

  &:active {
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0);
  }
}

.modalSearchInput {
  border: none;
  flex: 1;
  background-color: inherit;
  color: var(--gray_100);
  width: 116px;
  font-size: 13px;
  margin-right: 12px;
}

.modalSearchInput::placeholder {
  color: var(--gray_100);
  font-size: 13px;
  font-weight: 400;
  line-height: 15.51px;
}

.modalSearchInput:focus {
  outline: none;
}

.modalDelete {
  background-color: var(--gray_200);
  width: 16px;
  height: 16px;
  border-radius: 20px;
  margin-right: 12px;
  display: none; /* 기본적으로 삭제 아이콘은 숨김 */
}

.modalDelete.modalShow {
  display: block; /* 입력값이 있을 때만 삭제 아이콘을 보이게 함 */
}

@media (max-width: 375px) {
  .modalSearchInput.modalHasText {
    width: 80px;
  }
}

/* @media (min-width: 375px) {
  .searchInput,
  .searchInput::placeholder {
    font-size: 13px;
  }
  .searchInput {
    width: 120px;
  }

  .searchWrapper {
    width: 170px;
  }

  .searchInput::placeholder {
    font-size: 11.5px;
  }
  .searchWrapper {
    width: 160px;
  }

  .searchInput.hasText {
    width: 80px;
  }
}

@media (min-width: 1280px) {
  .searchWrapper {
    width: 448px;
    height: 48px;
  }

  .searchInput::placeholder {
    font-size: 14px;
  }
} */
