/* 글로벌css로 적용하여 나중에 삭제할 부분 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PaginationLayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
  height: 48px;
  gap: 10px;
}

.BtnLayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 48px;
  gap: 4px;
}

.arrowImg {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--black_100);
  color: var(--gray_200);
  
  &:active,
  &:hover {
    background-color: var(--brand_orange);
    transition: background-image 0.124534s ease-in-out;
  }
  
  &:active{
    transform: scale(1.1);
  }
}

.leftArrowButton {
  background-image: url(../../../../assets/images/icons/arrow/ic_arrow_left.png);
  background-size: 24px 24px cover;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(../../../../assets/images/icons/arrow/Image20241112162519.png);
    background-size: 24px 24px;
  }

  &:active {
    background-image: url(../../../../assets/images/icons/arrow/Image20241112162519.png);
    background-color: var(--hover_orange);
    background-size: 24px 24px;
  }
}

.rightArrowButton {
  background-image: url(../../../../assets/images/icons/arrow/ic_arrow_right.png);
  background-size: 24px 24px cover;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(../../../../assets/images/icons/arrow/Image20241112162513.png);
    background-size: 24px 24px;
  }

  &:active {
    background-image: url(../../../../assets/images/icons/arrow/Image20241112162513.png);
    background-color: var(--hover_orange);
    background-size: 24px 24px;
  }
}

.InnerBtn {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--black_100);
  color: var(--gray_200);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.48px;
  text-align: center;

  &:active,
  &:hover {
    background-color: var(--brand_orange);
    transition: color 0.124534s ease-in-out;
  }
  
  &:active{
    transform: scale(1.1);
  }
}

@media (max-width: 375px) {
  .PaginationLayer {
    width: 256px;
    height: 32px;
  }

  .BtnLayer {
    width: 176px;
    height: 32px;
  }

  .Btn,
  .InnerBtn {
    width: 32px;
    height: 32px;
  }

  .Btn {
    font-size: 16px;
    line-height: 19.09px;
  }
}