:root {
  /* Black */
  --black_400: #131313;
  --black_300: #212121;
  --black_200: #282828;
  --black_100: #2E2E2E;

  /* Gray */
  --gray_400: #333333;
  --gray_300: #4B4B4B;
  --gray_200: #747474;
  --gray_100: #D8D8D8;

  /* Primary color */

  --brand_orange: #EB5230;
  --blue: ##558FFF;
  --red_error: #C41013;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Pretendard-Regular';
  font-style: normal;
}

body {
  background-color: var(--black_400);
}

main {
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
