:root {
  /* Black */
  --black_400: #131313;
  --black_300: #212121;
  --black_200: #282828;
  --black_100: #2e2e2e;

  /* Gray */
  --gray_400: #333333;
  --gray_300: #4b4b4b;
  --gray_200: #747474;
  --gray_100: #d8d8d8;

  /* White */
  --white_100: #ffffff;

  /* Primary color */

  --brand_orange: #eb5230;
  --blue: ##558fff;
  --red_error: #c41013;
  --hover_orange: #e96749;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Pretendard-Regular";
  font-style: normal;
}

body {
  background-color: var(--black_400);
}

main {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: var(--white_100);
}

span {
  color: var(--white_100);
}

button {
  cursor: pointer;
}
