.about-page {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 18px;
  line-height: 1.5;
  color: var(--white_100);
  background-color: var(--black_400);
}

.about-page__header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 17px;
  color: var(--white_100);
}

.about-page__section {
  margin-bottom: 15px;
  padding: 12px;
  background-color: var(--black_300);
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.about-page__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--brand_orange);
}

.about-page__text {
  margin-bottom: 5px;
  font-size: 1.2rem;
  line-height: 1.3;
}

.about-page__list {
  padding-left: 20px;
  margin: 0;
  font-size: 1rem;
}

.about-page__list--ordered {
  list-style: decimal;
}

.about-page__item {
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 1.1rem;
}

.about-page__item strong {
  color: var(--gray_200);
  font-size: 1.2rem;
}

.about-page__list--ordered .about-page__item p {
  margin-top: 4px;
}

.about-page__footer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.7rem;
  color: var(--gray_200);
}
