.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  position: relative;
  background-color: var(--black_300);
  color: var(--white_100);
  padding: 24px;
  border-radius: 16px;
  width: 496px;
  height: 321px;
  box-shadow: 0 4px 8px #00000033;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header p {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  text-align: left;
}

.close-btn {
  background: none;
  border: none;
  color: var(--white_100);
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: var(--gray_200);
  }
}

.recent-startups {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
}

.company-list {
  width: 100%;
  margin-top: 10px;
}

.company-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.company-item img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.company-font {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  text-align: left;
  color: var(--white_100);
  gap: 8px;
}

.company-font span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
  color: var(--gray_200);
}

@media (max-width: 375px) {
  .modal-content {
    width: 343px;
    height: 259px;
    padding: 16px;
  }
  .modal-header p {
    font-size: 16px;
    line-height: 19.09px;
  }
  .close-btn {
    font-size: 24px;
  }
  .company-item img {
    width: 38px;
    height: 38px;
  }
  .company-font {
    font-size: 13px;
    line-height: 16.71px;
  }
  .company-font span {
    font-size: 12px;
    line-height: 14.32px;
  }
}
