h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  color: #ffffff;
}

#investStatus {
  width: 375px;
}

.investTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media (min-width: 768px) {
  #investStatus {
    width: 700px;
  }
}

@media (min-width: 1280px) {
  h2 {
    font-weight: 700;
    font-size: 20px;
  }

  #investStatus {
    width: 1200px;
  }
}
