li {
  list-style: none;
}

.DropdownBodyStartup {
  display: flex;
  width: 188px;
  height: 48px;
}

.DropdownLayerStartup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  width: 188px;
  height: 48px;
  gap: 8px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--gray_200);
  background-color: var(--black_400);
  color: var(--gray_100);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: center;
  position: relative; /* 부모 요소에 relative를 추가 */
  z-index: 1; /* 드롭다운이 다른 요소들 위에 오도록 z-index 설정 */
}

.DropdownListLayerStartup {
  /* display: block; */
  align-items: center;
  justify-content: center;
  position: absolute; /* 자식 요소에 absolute 적용*/
  width: 188px !important;
  min-height: 48px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--gray_200);
  background-color: var(--black_400);
  z-index: 2; /* 드롭다운 리스트가 드롭다운 버튼 위로 오도록 z-index 설정 */
}

.DropdownListFontStartup {
  display: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--gray_100);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  border-top: 1px solid var(--gray_100); /* 각 항목들 사이에 상단 경계선 추가 */
}

/* 첫 번째 항목을 제외한 나머지 항목들에만 경계선 추가 */
.DropdownListFontStartup:nth-child(1) {
  border-top: 1px solid var(--gray_100); /* 나머지 항목에 경계선 추가 */
  border-top: none;
  /* 나머지 항목에 경계선 추가 */
}

@media (max-width: 375px) {
  .DropdownBodyStartup {
    width: 146px;
    padding: 6px 8px;
  }
}