li {
  list-style: none;
}

.DropdownBodyStartup {
  display: flex;
  width: 188px;
  height: 48px;
}

.DropdownLayerStartup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  width: 146px;
  height: 40px;
  margin-top: 7px;
  gap: 8px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--gray_200);
  background-color: var(--black_400);
  color: var(--gray_100);
  font-size: 10px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: center;
  position: relative;
  z-index: 1;
  &:hover {
    box-shadow: 0 0 0.75rem rgba(138, 137, 137, 0.63);
    transform: scale(1.01);
  }
  &:active {
    background-color: var(--black_300);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0);
  }
}

.DropdownListLayerStartup {
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  width: 146px !important;
  min-height: 48px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--gray_200);
  background-color: var(--black_400);
  z-index: 2;
  &:hover {
    box-shadow: 0 0 0.75rem rgba(138, 137, 137, 0.63);
  }
}

.DropdownListFontStartup {
  display: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--gray_100);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  border-top: 1px solid var(--gray_100);
  &:hover {
    box-shadow: 0 0 0.75rem rgba(138, 137, 137, 0.63);
    transform: scale(1.01);
    transition: color 0.124534s ease-in-out;
  }
  &:active {
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0);
  }
}

.DropdownListFontStartup:nth-child(1) {
  border-top: 1px solid var(--gray_100); 
  border-top: none;
}

@media (min-width: 800px) {
  .DropdownLayerStartup {
    width: 186px;
    height: 48px;
    font-size: 12px;
  }

  .DropdownListLayerStartup{
    width: 186px !important;
  }
} 
