.searchWrapper {
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--gray_200);
  background-color: var(--black_400);
  flex: 1;
  align-items: center;
  width: 189px;
  height: 48px;
  top: 115px;
  left: 16px;
  padding: 0px 12px;
}

.searchInput {
  border: none;
  flex: 1;
  background-color: inherit;
  color: var(--gray_100);
  width: 116px;
  font-size: 13px;
  margin-right: 12px;
}

.searchInput::placeholder {
  color: var(--gray_100);
  font-size: 11px;
  font-weight: 400;
  line-height: 15.51px;
}

.searchInput:focus {
  outline: none;
}

.delete {
  background-color: var(--gray_200);
  width: 16px;
  height: 16px;
  margin-right: ;
  border-radius: 20px;
  display: none; /* 기본적으로 삭제 아이콘은 숨김 */
}

.delete.show {
  display: block; /* 입력값이 있을 때만 삭제 아이콘을 보이게 함 */
}

@media (min-width: 375px) {
  .searchInput,
  .searchInput::placeholder {
    font-size: 13px;
  }
  .searchInput {
    width: 135px;
  }
  .searchWrapper{
    width: 160px;
  }

  .searchInput.hasText {
    width: 80px; /* 텍스트가 있을 때 너비를 좁힘 */
  }
}

@media (max-width: 1280px) {
  .searchWrapper {
    width: 448px;
    height: 48px;
  }
}
