.mainLayer {
  height: 39px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  text-align: center;
  color: var(--white_100);
  background-color: var(--black_100);
}

.rank {
  width: 68px;
}

.name {
  width: 213px;
}

.description {
  width: 304px;
}

.category {
  width: 153.75px;
}

.selectCount,
.compareCount {
  width: 230.62px;
}

@media (max-width: 1280px) {
  .rank {
    width: 67px;
  }

  .name {
    width: 267px;
  }

  .description {
    width: 374px;
  }
}

@media (max-width: 1000px) {
  .name {
    width: 461px;
  }

  .description {
    width: 475px;
  }
}

@media (max-width: 770px) {
  .rank {
    width: 58px;
  }

  .name {
    width: 450px;
  }

  .description {
    width: 601px;
  }

  .category {
    width: 256px;
  }

  .selectCount,
  .compareCount {
    width: 167px;
  }
}