.mainLayer {
  height: 39px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  text-align: center;
  color: var(--white_100);
  background-color: var(--black_100);
}

.rank {
  width: 68px;
}

.name {
  width: 213px;
}

.description {
  width: 304px;
}

.category {
  width: 153.75px;
}

.selectCount,
.compareCount {
  width: 230.62px;
}

@media (max-width: 375px) {
  .rank {
    width: 64px;
  }
  .name {
    width: 140px;
  }
  .description {
    width: 180px;
  }
  .category {
    width: 84px;
  }
  .selectCount,
  .compareCount {
    width: 114px;
  }
}
